<div class='form-container'>
  <%= form_for(@glosary) do |f| %>
  <% if  @glosary && @glosary.errors.any? %>
    <div>
      <% @glosary.errors.full_messages.each do |error|%>
        <div class="alert alert-danger"> <%= error %> </div>
      <% end %>
    </div>
  <% end %>
    <div class="field">
      <h1>Nuevo Glosario</h1>
      <h2><%= @series.name %></h2>
      <%= f.hidden_field :series_id, :value => @series.id %>
      <div class="form-group">
        <%= f.label :title, 'Nombre' %>
        <%= f.text_field :title, class: 'form-control'%>
      </div>
    </div>
    <%= f.submit "Crear Glosario", class: 'btn btn-default form-button'%>
  <%end%>
</div>
