<table class="table">
  <thead>
    <tr>
      <th score="col">Serie</th>
      <th score="col">EP</th>
      <th score="col">TRA</th>
      <th score="col">QC</th>
      <th score="col">Fecha TRA</th>
      <th score="col">Fecha CLN</th>
      <th score="col">Estado</th>
    </tr>
  
  </thead>

  <tbody >
      <% sorted_tra_production.each do |tra| %>
        <tr>
          <td> <%= link_to tra.episode.series.name, tra.episode.series %></td>
          <td> <%= link_to tra.episode.number, tra.episode %></td>
          <td> <%= link_to tra.translator.username, tra %></td>
          <td> <%= link_to tra.quality_control.reviewer.username, tra.quality_control if tra.quality_control %></td>
          <td class="<%= delayed?(tra) %>"> <%= tra.duedate.strftime("%m/%d/%Y")   %></td>
          <td> <%=  %></td>
          <td class="<%= tra_status_style(tra) %>"> <%= tra_status(tra) %></td>
        </tr>
      <% end %>
  </tbody>
</table>
