<span class="translation-title"> <%= link_to "Episodio ##{@translation.episode.number}", @translation.episode %> TRA por <%= link_to @translation.translator.username, @translation.translator %></span>
<div class="translation-specs">
  <div class="translation-specs-langs">
    <%= @translation.src_lang %> a <%= @translation.dst_lang %>
  </div>
  <div class="translation-specs-runtime">
    <%= @translation.runtime %> min.
  </div>
</div>
<% if current_user.admin? %>
<hr>
<div>
  <span><%= link_to 'Editar', edit_translation_path(@translation) %></span>
  <span>|</span>
  <span><%= link_to 'Eliminar', translation_path(@translation), method: :delete %></span>
</div>
<% end %>
<hr>

<div class="episodes-series-container">
  <%= image_tag @translation.episode.series.picture.url, class: 'episodes-series-image ' if @translation.episode.series.picture? %>
  <h5 class="episodes-series"><%= link_to @translation.episode.series.name, @translation.episode.series %></h5> 
  <hr>
</div>

<hr>

<div class="translation-status">
  <div class="translation-status-calendarDay">
    <div class="translation-status-calendarDay-month"><%= month %></div>
    <div class="translation-status-calendarDay-day"><%= wday %></div>
    <div class="translation-status-calendarDay-num"><%= @translation.duedate.day %></div>
  </div>

  <div class="translation-status-progress">
    <div class="translation-status-progress-state"><%= tra_status %></div>
    <% unless completed? %>
      <div class="translation-status-progress-onTime <%= tra_state[1] %>">
        <span><%= tra_state[0] %></span>
      </div>
      <% if isTranslator? %>
        <hr>
        <div id="editTranslationContainer">
          <a id="editTranslationForm">Editar estado</a>
          <div class="translation-status-progress-form">
            
            <%= form_for(@translation) do |f| %>
              <div class="form-group">
                <%= f.select :status, status_options, include_blank: true %>
              </div>
              <%= f.submit "Editar estado", class: 'btn btn-default form-button'%>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<hr>

<div class="translation-qc">
  <span class="translation-qc-title">Revisión QC</span>
  <div class="translation-qc-link">
    <% if @qc %>
      <span> <%= link_to 'Ver QC', @qc %> realizado por <%= link_to @qc.reviewer.username, @qc.reviewer %> </span>
    <% else %>
      <% if current_user.admin? %>
        <span><%= link_to 'Agregar QC', new_quality_control_path(id: @translation.id)%></span>
      <% else %>
        <span>No hay QC por el momento</span>
      <% end %>
    <% end %>
  </div>
</div>
