  <h1 class="title">¡Hola <span class="username"><%= @user.username %>!</span></h1>
    <div class="bar"></div>
  <br>

  <p class="description">
    Tienes asignada la siguiente traducción: <span class="bold"><%= link_to "Ep#{@episode.number}", @translation %></span> de <%= link_to @series.name, @series %>
  </p>
  <br>
  <div class="series-img-container">
    <%= image_tag @series.picture.url, class: 'series-img' if @series.picture? %>
  </div>
  <p>
     <%= link_to '¡Haz click aquí', @translation %> para ver más!
  </p>
  <br>
