<div>
  <h1>Usuarios</h1>
</div>
<hr>
<ul class="list-group">
  <%@users.each do |user|%>
    <li class="list-group-item users-list-group-item">
      <%= link_to user.username, user %>
      <% if current_user.admin? %>
        

        <div class="users-admin-role">  

          <% if user.roles.any?{|role| role.category == 'TRANSLATOR'} %>
            <div class="users-admin-role-work">
              TRADUCTOR
            </div>
          <% end %>

           <% if user.roles.any?{|role| role.category == 'QC'} %>
            <div class="users-admin-role-work users-admin-role-work-qc">
              QC
            </div>
          <% end %>


          <% if user.roles.any?{|role| role.category == 'CUSTOMER'} %>
            <div class="users-admin-role-customer">
              CLIENTE
            </div>
          <% end %>

          <div class="btn-group btn-group-inline">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Role +
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li> 
                <%= link_to 'Trabajador', roles_path(user_id: user.id, category: 'WORK'), method: :post%>
              </li>
              <li> 
                <%= link_to 'Traductor', roles_path(user_id: user.id, category: 'TRANSLATOR'), method: :post%>
              </li>
              <li> 
                <%= link_to 'Director', roles_path(user_id: user.id, category: 'DIRECTOR'), method: :post%>
              </li>
              <li> 
                <%= link_to 'QC', roles_path(user_id: user.id, category: 'QC'), method: :post%>
              </li>
              <li> 
                <%= link_to 'Empresa', roles_path(user_id: user.id, category: 'CUSTOMER'), method: :post%>
              </li>
            </ul>
          </div >

          <div class="btn-group btn-group-inline">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Invita
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% @series_hash.each do |series| %>
                <% unless invited?(user,series[0])%>
                  <li> 
                    <%= link_to series[1], series_requests_path(series_id: series[0], receiver_id: user.id), method: :post %> 
                  </li>
                <%end %>
              <%end%>
            </ul>
          </div>
        </div> 

      <% end %>
    </li>
  <%end%>
</ul>

<hr>
