<ul>
  <li>Loops Totales <%= @qc.loops %></li>
  <li>Puntos Máximos <%= @qc.max_score %></li>
  <li>Puntos Reducidos <%= @qc.reduced_score %></li>
  <li>Puntaje Final <%= @qc.final_score %></li>
  <li>Efectividad <%= @qc.effectiveness %>%</li>
  <li>Calificación <%= @qc.grade %></li>
  <li>Retroalimentación <%= @qc.feedback %></li>
  <li>Revisor <%= @qc.reviewer.username %></li>
</ul>