<div class='form-container'>
  
  <%= form_for(@episode) do |f| %>
  
    <div class="field">
      <h1><%= @episode.series.name %></h1>
      <% if  @episode && @episode.errors.any? %>
        <div>
          <% @episode.errors.full_messages.each do |error|%>
            <h4> <%= error %> </h4>
            <hr>
          <% end %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :number, "Episode #" %>
        <%= f.number_field :number, class: 'form-control', :value => @episode.number%>
      </div>

      <div class="form-group">
        <%= f.label :resume %>
        <%= f.text_area :resume, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :dubcard_characters %>
        <%= f.text_area :dubcard_characters, cols: "30", rows: "20",class: 'form-control', :value => edit_dubcard_display if @episode.dubcard_characters  %>
      </div>
    <%= f.submit "Submit Episode", class: 'btn btn-default form-button'%>
  <%end%>
</div>

<%= javascript_include_tag "img-loader" %>