<div class="container">
  <div class="row">
    <div class="home-title">
      <% if current_user.avatar? %>
        <%= image_tag(current_user.avatar.url) %>
      <% else %>
        <%= image_tag 'lexi.svg' %>
      <% end %>
      
      <h1><%= current_user.username %>
          <% if current_user.admin?%>
            <span>(Admin)</span>
          <%end%>
        </h1>
    </div>
    <hr>
    <% unless @series_invitations.empty? || !not_confirmed(@series_invitations) %>
      <h2>Tienes invitaciones</h2>
      <ul class="list-group">
        <% @series_invitations.each do |invitation| %>
          <% unless invitation.confirmed %>
            <li class="list-group-item users-list-group-item">
              <%= series_invitation(invitation.series_id).name %>
              <%= link_to "Aceptar", series_request_path(invitation.id), method: :patch, class: 'btn btn-primary'%>
            </li>
          <% end%>
        <%end%>
      </ul>
    <%end%>

    <h2>Mis series</h2>
    <% unless @series.empty? %>
      <ul class="list-group">
        <% @series.each do |series|%>
          <li class="list-group-item"><%= link_to series.name, series %></li>
        <%end%>
      </ul>
    <% else %>
      <span>You don't have any series for now</span>
    <% end %>
    <hr>
    <h2>Traducciones</h2>
    <% unless current_user.translations.empty? %>
      <ul class="list-group">
      <% current_user.translations.select{|tra| tra.status == 'in progress' }.each do |tra| %>
        <li class="list-group-item"> <%= link_to "Episodio #{tra.episode.number} de #{tra.episode.series.name}", tra %> <span> (<%= tra.status %> </span>) </li>
      <% end %>
      </ul>
    <% else %>
      <span>No tienes traducciones pendientes</span>
    <% end %>
  </div>
</div>
