<div class="container">
  <div class="row">
    <div class="home-title">
      <% if current_user.avatar? %>
        <%= image_tag(current_user.avatar.url) %>
      <% else %>
        <%= image_tag 'lexi.svg' %>
      <% end %>
      
      <h1><%= current_user.username %>
          <% if current_user.admin?%>
            <span>(Admin)</span>
          <%end%>
        </h1>
    </div>
    <hr>
    <% unless @series_invitations.empty? || !not_confirmed(@series_invitations) %>
      <h2>Tienes invitaciones</h2>
      <ul class="list-group">
        <% @series_invitations.each do |invitation| %>
          <% unless invitation.confirmed %>
            <li class="list-group-item users-list-group-item">
              <%= series_invitation(invitation.series_id).name %>
              <%= link_to "Aceptar", series_request_path(invitation.id), method: :patch, class: 'btn btn-primary'%>
            </li>
          <% end%>
        <%end%>
      </ul>
    <%end%>

    <h2 class="second-title">Mis series</h2>
    <% unless @series.empty? %>
      <ul class="list-group">
        <% @series.each do |series|%>
          <li class="list-group-item"><%= link_to series.name, series %></li>
        <%end%>
      </ul>
    <% else %>
      <span>No tienes series por ahora</span>
    <% end %>
    <hr>
    <h2 class="second-title">Mis Traducciones</h2>
    <hr>
    <% unless current_user.translations.empty? %>
      <h3>En progreso</h3>
      <ul class="list-group">
      <% current_user.translations.select{|tra| tra.status == 'in progress' }.each do |tra| %>
        <li class="list-group-item tra-status-home"> 
          <%= link_to "Ep #{tra.episode.number} de #{tra.episode.series.name}", tra %> 
          <span class="<%= tra_state(tra)[1] %>-tra"><%= tra_state(tra)[0] if tra_state(tra)[0] == 'Retrasado'%></span>
        </li>
      <% end %>
      </ul>
      <hr>
      <h3>Completadas</h3>
      <% current_user.translations.select{|tra| tra.status == 'completed' }.each do |tra| %>
        <li class="list-group-item"> <%= link_to "Ep #{tra.episode.number} de #{tra.episode.series.name}", tra %> </li>
      <% end %>
      <hr>
      <h3>En revisión</h3>
      <% current_user.translations.select{|tra| tra.status == 'qc' }.each do |tra| %>
        <li class="list-group-item"> <%= link_to "Ep #{tra.episode.number} de #{tra.episode.series.name}", tra %> </li>
      <% end %>
      <hr>
      <h3>Revisadas</h3>
      <% current_user.translations.select{|tra| tra.status == 'completed' && tra.quality_control }.each do |tra| %>
        <li class="list-group-item"> <%= link_to "Ep #{tra.episode.number} de #{tra.episode.series.name}", tra.quality_control %> por <%= link_to tra.quality_control.reviewer.username, tra.quality_control.reviewer %> </li>
      <% end %>
    <% else %>
      <span>No tienes traducciones pendientes</span>
    <% end %>
  </div>
</div>
