<div class='form-container'>
  <%= form_for(@character) do |f| %>
  <% if  @character && @character.errors.any? %>
    <div>
      <% @character.errors.full_messages.each do |error|%>
        <hr>
        <div class="alert alert-danger"> <%= error %> </div>
        <hr>
      <% end %>
    </div>
  <% end %>
    <div class="field">
      <h1><%= @series.name %> Character</h1>
      <%= f.hidden_field :series_id, :value => @series.id %>

      <% if @name %>
        <div class="form-group">
          <%= f.label :naming, "Dub name" %>
          <%= f.text_field :naming, :value => @name, class: 'form-control'%>
        </div>
      <% else %>
        <div class="form-group">
          <%= f.label :naming, "Dub name" %>
          <%= f.text_field :naming, class: 'form-control'%>
        </div>
      <% end %>

      <% if @name %>
        <div class="form-group">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, :value => @name, class: 'form-control'%>
        </div>
      <% else %>
        <div class="form-group">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control'%>
      </div>

      <div class="form-group">
          <div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-primary">
                    Browse&hellip; <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', style: 'display: none;' %>
                </span>
            </label>
            <input type="text" class="form-control" readonly>
          </div>
        </div>
      </div>
    <%= f.submit "Submit Character", class: 'btn btn-default form-button'%>
  <%end%>
</div>