<div class='form-container'>
  <%= form_for(@character) do |f| %>
  <% if  @character && @character.errors.any? %>
    <div>
      <% @character.errors.full_messages.each do |error|%>
        <hr>
        <h4> <%= error[0..12] %> </h4>
        <hr>
      <% end %>
    </div>
  <% end %>
    <div class="field">
      <h1><%= @character.series.name %> Character</h1>

      <div class="form-group">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :naming, "Name" %>
        <%= f.text_field :naming, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control'%>
      </div>

      <div class="form-group">
          <div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-primary">
                    Browse&hellip; <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', style: 'display: none;' %>
                </span>
            </label>
            <input type="text" class="form-control" readonly>
          </div>
        </div>
      </div>
    <%= f.submit "Update Character", class: 'btn btn-default form-button'%>
  <%end%>
</div>
<%= javascript_include_tag "img-loader" %>