
<div class="episodes-series-container">
  <div class="episodes-series-image">
    <%= image_tag @character.series.picture.url if @character.series.picture? %>
  </div>
  <h5 class="episodes-series"><%= link_to @character.series.name, @character.series %></h5> 
</div>

<hr>

<div class="row">
  <div class="col-sm-6 series-show">
    <h1><%= @character.name %> </h1>
    <hr>
    <h5>[<%= @character.naming %>]</h5>
    <hr>
    <span class="series-container-title series-show-edit">
      <%= link_to "#{image_tag('edit.svg', class:'picture img-responsive')}".html_safe, edit_character_path(@character) %>
    </span>
    <p><%= @character.description %></p>
    <span>Apariciones: </span>
    <hr>
  </div>
  <div class="col-sm-6 series-show-picture">
    <%= image_tag @character.picture.url, class: 'img-rounded' if @character.picture? %>
  </div>
</div>

<hr>



<div class="row">
  <div class="col-sm-6 series-show">
    <h1>Relaciones Personajes</h1>
    <div class="characters-add">
      <%= link_to "#{image_tag('add.svg', class:'series-show-add')}".html_safe, 
          new_relationship_path(series_id: @character.series.id, character_id: @character.id)
      %>
    </div>
    
    <ul class="list-group">
      <% @characters_related.each do |character|%>
        <li class="list-group-item series-show-character characters-list">
          
          <%= image_tag character.picture.url, class: "characters-img" if character.picture? %>
          <% if relationship?(@character, character) %>
            <span class="characters-related"><%= link_to "#{character.name}", relationship_path(relationship(@character, character).id) %></span>
          <% end %>
        </li>
      <%end%>
    </ul>
  </div>
  <div class="col-sm-6">
    <h1>Catch Phrases</h1>
  </div>
</div>

<hr>

<div class="characters-carousel">
  <h4>Más imágenes</h4>
  <%= render 'carousel' if @character_imgs.length > 0 %>
  <span><%= link_to 'Agregar Foto', new_character_image_path(character_id: @character.id) %></span>
</div>

<hr>