
<div class="episodes-series-container">
  <%= image_tag @character.series.picture.url, class: 'episodes-series-image ' if @character.series.picture? %>
  <h5 class="episodes-series"><%= link_to @character.series.name, @character.series %></h5> 
</div>

<hr>

<div class="row">
  <div class="col-sm-6 series-show">
    <h1><%= @character.name %> </h1>
    <span class="series-container-title series-show-edit">
      <%= link_to "#{image_tag('edit.svg', class:'picture img-responsive img-rounded')}".html_safe, edit_character_path(@character) %>
    </span>
    <p><%= @character.description %></p>
  </div>
  <div class="col-sm-6 series-show-picture">
    <%= image_tag @character.picture.url, class: 'img-rounded' if @character.picture? %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6 series-show">
    <h1>Relaciones Personajes</h1>
    <div>
      <%= link_to "#{image_tag('add.svg', class:'series-show-add')}".html_safe, 
          new_relationship_path
      %>
    </div>
    
    <ul class="list-group">
      <% @characters_related.each do |character|%>
        <li class="list-group-item series-show-character">
          
          <%= image_tag character.picture.url if character.picture? %>
          <span><%= link_to "#{character.name}", relationship_path(id: Relationship.find_by(character_id: @character.id, related: character.id).id ) %></span>
        </li>
      <%end%>
    </ul>
  </div>
</div>
