
<div class="episodes-series-container">
  <%= image_tag @character.series.picture.url, class: 'episodes-series-image ' if @character.series.picture? %>
  <h5 class="episodes-series"><%= link_to @character.series.name, @character.series %></h5> 
</div>

<hr>

<div class="row">
  <div class="col-sm-6 series-show">
    <h1><%= @character.name %> </h1>
    <span class="series-container-title series-show-edit">
      <%= link_to "#{image_tag('edit.svg', class:'picture img-responsive img-rounded')}".html_safe, edit_character_path(@character) %>
    </span>
    <p><%= @character.description %></p>
  </div>
  <div class="col-sm-6 series-show-picture">
    <%= image_tag @character.picture.url, class: 'img-rounded' if @character.picture? %>
  </div>
</div>
