
<div class="episodes-series-container">
  <div class="episodes-series-image">
    <%= image_tag @character.series.picture.url if @character.series.picture? %>
  </div>
  <h5 class="episodes-series"><%= link_to @character.series.name, @character.series %></h5> 
</div>

<% if current_user.admin? %>
  <hr>
  <span><%= link_to "Eliminar", @character, method: :delete  %></span>
<% end %>
<hr>
<span class="series-container-title series-show-edit">
  <%= link_to "#{image_tag('edit.svg', class:'picture img-responsive')}".html_safe, edit_character_path(@character) %>
</span>

<h1 class="characters-dubname"><%= @character.naming %></h1>
<hr>
<div class="row">
  <div class="col-sm-6 series-show">
    <span>Nombre (y aliases): </span>
    <span class="characters-namesAndAliases"> <%= @character.name %> </span>
    
    <hr>

    <div class="characterTags">
      <div id="characterTagsContainer">
        <%= render @character_tags %>
      </div>
      <button id="addCharacterTag" class="btn btn-primary">+HT</button>
      <div id="addCharacterTagForm"><%= render 'character_tag_form'%></div>
    </div>    
    <hr>
    <div class="characters-appearances">
    <span class="characters-appearances-title">Episodios: </span>
      <div class="characters-appearances-container">
        <% appeareances.each do |episode| %>
          <div class="characters-appearances-container-episode">
            <%= link_to episode.number, episode %>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <div class="col-sm-6 characters-main-img">
    <%= image_tag @character.picture.url, class: '' if @character.picture? %>
  </div>
  
  <div class="col-sm-12">
  <hr>
    <% description_character_paragraphs.each do |paragraph| %>
      <p class="characters-description">
        <%= paragraph %>
      </p>
      <br>
    <% end %>
  <div>
</div>

<hr>

<div class="row">
  <div class="col-sm-12 characters-treatment" >
    <h1>Tratamiento</h1>
    <% if @character.treatment %>
      <span><%= @character.treatment %></span>
    <% else %>
      <span>No hay tratamiento específico para este personaje</span>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6 series-show">
    <h1>Relaciones Personajes</h1>
    <div class="characters-add">
      <%= link_to "#{image_tag('add.svg', class:'series-show-add')}".html_safe, 
          new_relationship_path(series_id: @character.series.id, character_id: @character.id)
      %>
    </div>
    
    <ul class="list-group">
      <% @characters_related.each do |character|%>
        <li class="list-group-item series-show-character characters-list">
          <div class="series-show-character-img">
            <%= image_tag character.picture.url, class: "characters-img" if character.picture? %>
          </div>
          <% if relationship?(@character, character) %>
            <span class="characters-related"><%= link_to "#{character.name}", relationship_path(relationship(@character, character).id) %></span>
            <span class="characters-related-minidesc"><%= truncate(relationship(@character, character).description, length: 50) %></span>
          <% end %>
        </li>
      <%end%>
    </ul>
  </div>
  <div class="col-sm-6">
    <h1 class="second-title">Catch Phrases</h1>
    <div class="characters-add">
      <%= link_to "#{image_tag('add.svg', class:'series-show-add')}".html_safe, 
           edit_character_path(@character)
      %>
    </div>
    
    
    <% if @character.catch_phrases %>

      <ul class="list-group"> 
        <% catch_phrases.each_with_index do |phrase| %>
          <li class="list-group-item"><q><%= "#{phrase}" %></q></li>
        <% end %>
      </ul>

    <% else %>
      <span>No hay catch phrases</span>
    <% end %>
  </div>
</div>

<hr>

<div class="characters-carousel">
  <h1 class="second-title">Más imágenes</h1>
  <%= render 'carousel' if @character_imgs.length > 0 %>
  <span><%= link_to 'Agregar Foto', new_character_image_path(character_id: @character.id) %></span>
</div>

<hr>

<%= javascript_include_tag "character" %>
