<div class='form-container'>
  <%= form_for(@series) do |f| %>
  <% if  @series && @series.errors.any? %>
    <div>
      <% @series.errors.full_messages.each do |error|%>
        <hr>
        <h4> <%= error[0..12] %> </h4>
        <hr>
      <% end %>
    </div>
  <% end %>
    <div class="field">

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control'%>
      </div>

      <div class="form-group">
        <div class="input-group">
          <label class="input-group-btn">
              <span class="btn btn-primary">
                  Browse&hellip; <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', style: 'display: none;' %>
              </span>
          </label>
          <input type="text" class="form-control" readonly>
        </div>
      </div>
    </div>
    <!--%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %-->
    <%= f.submit "Create Series", class: 'btn btn-default form-button'%>
  <%end%>
</div>