<div class='form-container'>
  <%= form_for @series, html: { multipart: true } do |f| %>
  <% if  @series && @series.errors.any? %>
    <div>
      <% @series.errors.full_messages.each do |error|%>
        <h4> <%= error %> </h4>
      <% end %>
    </div>
  <% end %>
    <div class="field">

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', value: @series.name%>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', value: @series.description%>
      </div>
      <hr>
      <%= image_tag @series.picture.url, class:'picture img-responsive img-rounded' if @series.picture? %>
      <hr>
      <div class="form-group">
        <div class="input-group">
          <label class="input-group-btn">
              <span class="btn btn-primary">
                  Browse&hellip; <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', style: 'display: none;' %>
              </span>
          </label>
          <input type="text" class="form-control" readonly>
        </div>
      </div>
    </div>
    <!--%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %-->
    <%= f.submit "Update Series", class: 'btn btn-default form-button'%>
  <%end%>
</div>