<div class="row">
    <% @series.each do |series| %>
      <div class="col-sm-4">
        <div class="series-container">
          <div class="series-container-title">
            <h1><%= link_to series.name, series%></h1>
            <%= link_to "#{image_tag('edit.svg', class:'picture img-responsive img-rounded')}".html_safe, edit_series_path(series) %>
          </div>
          <p><%= truncate(series.description, length: 125, omission: '... (continued)') %></p>
          <div class="series-picture">
            <%= image_tag series.picture.url, class:'picture img-responsive img-rounded' if series.picture? %>
          </div>
          <span><%= link_to "#{count_episodes(series)} Episodes", series %>  </span>
          <span>|</span>
          <span><%= link_to 'Add Episode', new_episode_path(series: series.id) %>
        </div>
    </div>
  <% end %>
</div>