<!DOCTYPE html>
<html>
  <head>
    <title>Lexi | Series App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/messages'%>
    <!--%= render 'layouts/errors'%-->
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
